/*General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.padding-right{
    padding-right: 70px;
}

.padding-total{
    padding: 30px;
}

/*.debug{
    border: 2px solid red;
}*/

.container{
    width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.jumbo{
    width: 100%;
}

.margine{
    margin-top: 60px;
}

/* Flex utility */

.flex-row{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.align-items{
    align-items: center;
    align-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-gap{
    gap: 20px;
}

.position-relative{
    position: relative;
    top: 60px;
}

/* header */

.hero{
    position: relative;
}

header{
    background-color: #b8d1e5;
}

nav{
    /*position: fixed;*/
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: white;
    /*z-index: 10000;*/
}

.logo{
    padding-left: 20px;
}

.inizia{
    margin-right: 20px;
    padding: 5px 6px;
    background-color: rgb(45, 41, 255);
    color: white;
}

h1{
    margin-top: 20px;
    font-size: 80px;
}

.prova-gratuita{
    display: inline-block;
    text-align: center;
    background-color: rgb(45, 41, 255);
    color: white;
    padding: 5px 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header i{
    font-size: 50px;
    position: absolute;
    bottom: 20px;
}

/* main */

.card-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.container-padding{
    padding: 20px;
}

.fatt-mensile{
    display: inline-block;
    margin-right: 40px;
}

.fatt-annuale{
    display: inline-block;
}

.first-section{
    margin-top: 70px;
}

h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.card{
    width: calc(100% / 3 - 40px);
    border: 1px solid black;
}

.card-content{
    padding: 30px;
    padding-bottom: 100px;
}

.center-word{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 6px;
}

h3{
    margin-bottom: 20px;
}

h4{
    margin-bottom: 10px;
}

h5{
    margin-bottom: 20px;
}

.mese{
    margin-bottom: 20px;
}

.div-icona{
    margin-bottom: 15px;
}

.button-prova{
    text-align: center;
    padding: 7px 15px;
    background-color: rgb(45, 41, 255);
    margin-bottom: 20px;
    color: white;
}

.div-underline{
    display: inline-block;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
}

.card-content li{
    margin-top: 20px;
}

.second-section{
    border: 1px solid black;
}

.team-content{
    padding: 20px;
}

.partner-img{
    width: 90%;
}

.partner-button{
    display: inline-block;
    margin-top: 40px;
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

.box{
    width: calc(100% / 3 - 40px);
    margin-bottom: 40px;
}

.img-box{
    width: 70%;
    margin-bottom: 20px;
}

.partner-div{
    padding: 50px 50px 0 0;
}

.div-faq{
    border-top: 1px solid black;
    padding-top: 20px;
    margin-bottom: 20px;
}

.div-faq:nth-child(3){
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.div-faq p{
    font-weight: bold;
}

.quadrado{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.quadrado-interno{
    width: calc(100% / 2);
    position: relative;
}

.img-quadratone{
    width: 40%;
}

.img-quadradi{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: invert(93%) sepia(100%) saturate(29%) hue-rotate(136deg) brightness(107%) contrast(110%);
}

.quadrado p{
    margin-top: 100px;
}

.call-to-action{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #B4D0E7;
}

.button-call{
    background-color: white;
    text-align: center;
    padding: 5px 7px;
}

.call-to-action h2{
    color: #61082B;
    margin-bottom: 0;
}

/* Footer */

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}

footer h4{
    padding-bottom: 30px;
}

footer li{
    padding-bottom: 20px;
}

footer .div-underline{
    padding-top: 20px;
    border-bottom: 1px solid white;
}

footer select{
    background: none;
    border: none;
    color: white;
}

/* Colori quadrati */

#designit{
    background-color: #A2D39B;
}

#asu{
    background-color: #61082B;
}

#florida{
    background-color:  #0093CE;
}

#topps{
    background-color: red;
}

#bici{
    background-color: rgb(201, 25, 25);
}

#hearst{
    background-color: #B4D0E7;
}

#planet{
    background-color:  #0D2481;
}

#channel{
    background-color: #FFD830;
}

#quadrato-cent{
    background-color: #F5F5F5;
}